body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px; /* Set a max width for the container */
}

/* Card styling */
.card1 {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
     transition: transform 0.2s ease-in-out;  
}
 
.card1:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 15px; /* Reduce padding on smaller screens */
    }
}